.bar {
   width: 100vw;
   height: 80px;
   background: rgb(2, 0, 36);
   background: linear-gradient(
      270deg,
      rgb(32, 145, 92) 0%,
      rgb(134, 226, 142) 100%
   );
}
.bar img {
   position: absolute;
   left: 70px;
   top: 20px;
   width: 200px;
   transform:scale(1.2);
}
