.bar {
   width: 99vw;
   height: 60px;
   background: rgb(2, 0, 36);
   background: linear-gradient(
      270deg,
      rgb(32, 145, 92) 0%,
      rgb(134, 226, 142) 100%
   );
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.bar img {
   width: 200px;
   margin-left: 1em;
}

.insta {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   width: 150px;
   margin-right: 2em;
}

.text {
   color: black;
}
