.h1 {
    font-size: 60px;
    color: rgb(10, 78, 10);
}

.statistics{
    text-align: justify;
    padding-top:50px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}

.bar {
    background-color: #ffffff;
}

.bin {
    margin-right: 15px;
    width: 50px;
} 

.binned{
    display: flex;
    margin-bottom: 20px;
  
}

.text_right{
   color: #2b6e17;
   text-align: justify;
}
