.grid-container {
   width: 99vw;
   height: 2000px;
   padding: 50px 150px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: 700px 700px 300px;
   row-gap: 50px;
   column-gap: 30px;
   background: linear-gradient(329.54deg, #1fad83 0%, #c7fcc5 100%);
}

.infos {
   grid-row: 1;
   grid-column: 1;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.logo {
   margin-bottom: 50px;
   transform: scale(0.2);
   align-self: flex-start;
}

.mapContainer {
   grid-row: 2;
   grid-column: 1 / 3;
}

.infos .message {
   width: 100%;
   max-width: 1100px;
   height: 100%;
   max-height: 680px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   /* justify-content: space-between; */

   /* background: url("../../images/landing.svg") no-repeat 80% center; */
}

.infos .message main {
   max-width: 500px;
}

.infos .message main h1 {
   max-width: 500px;
   font-size: 70px;
   font-weight: 900;
   line-height: 70px;
}

.infos .message main p {
   margin-top: 40px;
   font-size: 24px;
   line-height: 34px;
}

.link {
   color: white;
   text-decoration: none;
   font-size: 14px;
}

.button {
   margin-bottom: 10px;
   width: 400px;
   height: 60px;
   color: white;
   background: #3d3027;
   border-radius: 30px;
   text-decoration: none;
   transition: background-color 0.2s;
}

.buttons {
   padding-top: 20px;
   margin-bottom: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin-bottom: 50px;
}

.button:hover {
   background: #33261d;
}

.mapContainer {
   padding: 15px;
   border-radius: 10px;
   background: rgba(0, 0, 0, 0.05);
   position: relative;
   display: flex;
   justify-content: center;
}

.createReport {
   position: absolute;
   right: 40px;
   bottom: 40px;

   z-index: 10;

   width: 64px;
   height: 64px;
   /* background: #15c3d6; */
   background: #33261d;
   border-radius: 20px;

   display: flex;
   justify-content: center;
   align-items: center;

   transition: background-color 0.2s;
}

.createReport:hover {
   background: #d1e1cb;
}

.footer {
   grid-row: 3;
   grid-column: 1 / 3;
}

.footerline {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 20px;
}

.trashImage {
   height: 150px;
   width: 150px;
   border-radius: 40px;
}

.lateralMap {
   width: 400px;
}
.green_text {
   color: rgb(10, 78, 10);
}
.light_green_text {
   color: #ffffff;
}

.statisticContainer {
   max-width: 600px;
   grid-row: 1;
   grid-column: 2;
   background: url("../../images/tree.svg") no-repeat -20% center;
   background-size: 80%;
}

p {
   text-align: justify;
}
